@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body{
    font-family: "Roboto";
}

.main{
    width: 1200px;
    margin: 0 auto;
}

.cabecalho{
    background-color: #274C77;
    height: 332px;
    background-size: cover;
    text-align: center;
}

.logo-texto1{
    font-family: "Lobster";
    color: white;
    font-size: 96px;
    padding-top: 64px;
    text-align: center;
}

.logo-texto2{
    font-family: "Lobster";
    color: white;
    font-size: 65px;
    padding-bottom: 76px;
}

.menu-principal{
    background-color: #A3CEF1;
    font-family: "Roboto";
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.menu{
    color: black;
    font-family: "Roboto";
    font-size: 32px;
    font-weight: bold;
    text-decoration: none;
}

.banner{
    height: auto;
    width: 100%;
}

.titulo{
    font-family: "Roboto";
    font-size: 34px;
    font-weight: bold;
    text-align: center;
    background-color: #A3CEF1;
    padding-top: 10px;
    padding-bottom: 10px;
}

.conteudo-meio {
    display: flex;
    align-items: center;
}

.foto-servicos{
    padding-top: 74px;
    padding-bottom: 74px;
    margin-left: 103px;
}

.opcoes{
    list-style-type: disc;
    font-family: "Roboto";
    font-weight: Bold;
    font-size: 45px;
    padding-top: 108px;
    padding-bottom: 108px;
    line-height: 120px;
    margin-left: 164px;
}

.fotos{
    background-color: #274C77;
    text-align: center;
}

.foto-empresa{
    margin-left: 84px;
    padding-top: 75px;
    padding-bottom: 75px;
}

.foto-contabilidade{
    margin-left: 85px;
    padding-top: 75px;
    padding-bottom: 75px;
}

.foto-tributaria{
    margin-left: 109px;
    padding-top: 75px;
    padding-bottom: 75px;
}

.contato{
    background-color: #A3CEF1;
    text-align: center;
    font-weight: bold;
    font-size: 34px;
    padding-top: 23px;
    padding-bottom: 23px;
}

.rotulo{
    font-weight: bold;
    font-family: "Roboto";
    font-size: 30px;
    display: block;
}

.campo-texto{
    font-size: 16px;
    color: black;
    padding: 7px 10px;
}

.grupo-form input, .grupo-form textarea {
    width: 417px;
    padding: 8px;
    box-sizing: border-box;
}

.grupo-form label {
    margin-bottom: 5px;
}

.grupo-form {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.botao-enviar{
    font-family: "Roboto";
    font-size: 25px;
    font-weight: bold;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #A3CEF1;
}

.formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}